In [34]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel
import requests

In [35]:
response = requests.get('https://trendify-ui65.onrender.com/products')
data = response.json() 
df = pd.DataFrame(data)  #converting the JSON data into a pandas DataFrame.

In [36]:
df.head()

,wishingUsers,_id,price,details,category,productName,productImage
0,[],65aa9fea11b750a2db1ad9ab,"3,990.00","Sneakers with a combination of materials, piec...",shoes,DENIM SNEAKERS,https://static.zara.net/photos///2023/I/1/2/p/...
1,"[65ab480079a0e18b8dc8b0bc, 65ab720b161e123af9e...",65aa9fea11b750a2db1ad9ac,2200,Monochrome trainers. Seven-eyelet facing. The ...,shoes,CHUNKY TRAINERS,https://static.zara.net/photos///2023/V/1/2/p/...
2,[],65aa9fea11b750a2db1ad9ad,"3,990.00",Sneakers. Plain upper. Seven-eyelet facing. Ch...,shoes,CHUNKY TRAINERS,https://static.zara.net/photos///2023/I/1/2/p/...
3,[],65aa9fea11b750a2db1ad9ae,"2,990.00","Trainers. Combination of materials, pieces and...",shoes,MULTIPIECE TRAINERS,https://static.zara.net/photos///2023/I/1/2/p/...
4,[],65aa9fea11b750a2db1ad9af,"7,990.00",Leather monk shoes. Two metal buckles. Leather...,shoes,LEATHER MONK SHOES,https://static.zara.net/photos///2023/I/1/2/p/...

In [37]:
df.isna().sum()

wishingUsers    0
_id             0
price           0
details         0
category        0
productName     0
productImage    0
dtype: int64

In [38]:
print(df.columns)

Index(['wishingUsers', '_id', 'price', 'details', 'category', 'productName',
       'productImage'],
      dtype='object')

In [39]:
df.loc[df.duplicated(subset='productName')] #duplicate rows in df based on the 'jobProfile' column

,wishingUsers,_id,price,details,category,productName,productImage
2,[],65aa9fea11b750a2db1ad9ad,"3,990.00",Sneakers. Plain upper. Seven-eyelet facing. Ch...,shoes,CHUNKY TRAINERS,https://static.zara.net/photos///2023/I/1/2/p/...
9,[],65aa9fea11b750a2db1ad9b4,"4,990.00",Monochrome ankle boots. Matching side gores an...,shoes,CHELSEA BOOTS,https://static.zara.net/photos///2023/I/1/2/p/...
29,[],65aabfdd11b750a2db1ad9c8,899.00,Loose-fitting T-shirt with a round neck and sh...,tShirt,SLOGAN PRINT T-SHIRT,https://static.zara.net/photos///2023/I/0/2/p/...
35,[],65aac38c11b750a2db1ad9cf,"7,590.00",Collared jacket with long sleeves and elastica...,jacket,FAUX LEATHER JACKET,https://static.zara.net/photos///2023/I/0/2/p/...
39,[],65aac38c11b750a2db1ad9d3,"4,990.00",Varsity jacket made of lightweight fabric. Jet...,jacket,BOMBER JACKET WITH PATCH,https://static.zara.net/photos///2023/I/0/2/p/...
53,[],65aac50211b750a2db1ad9e1,"2,490.00",Cropped slim fit jeans with a five-pocket desi...,pant,CROPPED SLIM JEANS,https://static.zara.net/photos///2023/I/0/1/p/...

In [40]:

df_copy1 =df.drop(columns=[ 'wishingUsers']).copy()

In [41]:
df_copy1

,_id,price,details,category,productName,productImage
0,65aa9fea11b750a2db1ad9ab,"3,990.00","Sneakers with a combination of materials, piec...",shoes,DENIM SNEAKERS,https://static.zara.net/photos///2023/I/1/2/p/...
1,65aa9fea11b750a2db1ad9ac,2200,Monochrome trainers. Seven-eyelet facing. The ...,shoes,CHUNKY TRAINERS,https://static.zara.net/photos///2023/V/1/2/p/...
2,65aa9fea11b750a2db1ad9ad,"3,990.00",Sneakers. Plain upper. Seven-eyelet facing. Ch...,shoes,CHUNKY TRAINERS,https://static.zara.net/photos///2023/I/1/2/p/...
3,65aa9fea11b750a2db1ad9ae,"2,990.00","Trainers. Combination of materials, pieces and...",shoes,MULTIPIECE TRAINERS,https://static.zara.net/photos///2023/I/1/2/p/...
4,65aa9fea11b750a2db1ad9af,"7,990.00",Leather monk shoes. Two metal buckles. Leather...,shoes,LEATHER MONK SHOES,https://static.zara.net/photos///2023/I/1/2/p/...
...,...,...,...,...,...,...
56,65aac50211b750a2db1ad9e4,"4,990.00",Faded wide fit jeans. Five pockets. Front zip ...,pant,WIDE FIT JEANS,https://static.zara.net/photos///2023/I/0/2/p/...
57,65aac50211b750a2db1ad9e5,"4,990.00",Straight-fit jeans with a five-pocket design. ...,pant,STRAIGHT FIT SPRAY JEANS,https://static.zara.net/photos///2023/I/0/1/p/...
58,65aac50211b750a2db1ad9e6,"4,990.00",Wide fit jeans. Five pockets. Patch pockets wi...,pant,WIDE FIT CARGO JEANS,https://static.zara.net/photos///2023/I/0/2/p/...
59,65aac50211b750a2db1ad9e7,"5,990.00",Loose fit jeans. Adjustable waistband with sid...,pant,DETACHABLE CARGO JEANS,https://static.zara.net/photos///2023/I/0/2/p/...
60,65aac50211b750a2db1ad9e8,"4,990.00",Relaxed fit jeans. Five pockets. Zipped pocket...,pant,RELAXED FIT JEANS,https://static.zara.net/photos///2023/I/0/2/p/...

In [42]:
df_copy1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           61 non-null     object
 1   price         61 non-null     object
 2   details       61 non-null     object
 3   category      61 non-null     object
 4   productName   61 non-null     object
 5   productImage  61 non-null     object
dtypes: object(6)
memory usage: 3.0+ KB

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel



# Extract details, categories, and product names
details = [item['details'] for item in data]
categories = [item['category'] for item in data]
product_names = [item['productName'] for item in data]

# Create TF-IDF vectorizer
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(details)

# Compute cosine similarity
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

def products_by_category(category_input):
    # Find the indices of products in the data based on the category
    category_indices = [i for i, cat in enumerate(categories) if cat.lower() == category_input.lower()]

    if category_indices:
        # Get products with the specified category
        matching_products = [(data[i]['productName'], data[i]['price'], data[i]['productImage'], data[i]['details']) for i in category_indices]

        # Return the products with the same category
        return matching_products
    else:
        return "No products found for the given category."

# Example usage
category_input = "shoes"
products_in_category = products_by_category(category_input)

# Display products in the specified category
for product in products_in_category:
    print(f"Product Name: {product[0]}\nPrice: {product[1]}\ndetails: {product[3]}\nProduct Image: {product[2]}\n")

Product Name: DENIM SNEAKERS
Price: 3,990.00
details: Sneakers with a combination of materials, pieces and colours on the upper. Seven-eyelet facing. Contrast chunky sole.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2216/220/202/2/w/448/2216220202_2_1_1.jpg?ts=1690213159158

Product Name: CHUNKY TRAINERS
Price: 2200
details: Monochrome trainers. Seven-eyelet facing. The laces are semi-hidden under two pieces, one on each side of the instep. Chunky sole with an irregular design.
Product Image: https://static.zara.net/photos///2023/V/1/2/p/2206/120/802/2/w/448/2206120802_2_1_1.jpg?ts=1683033215969

Product Name: CHUNKY TRAINERS
Price: 3,990.00
details: Sneakers. Plain upper. Seven-eyelet facing. Chunky sole with irregular design at the back.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2245/220/001/2/w/448/2245220001_6_1_1.jpg?ts=1692019633659

Product Name: MULTIPIECE TRAINERS
Price: 2,990.00
details: Trainers. Combination of materials, pieces and colours on the upper. Six-eyelet facing. Irregular and chunky sole.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2236/220/202/2/w/448/2236220202_2_1_1.jpg?ts=1692608383106

Product Name: LEATHER MONK SHOES
Price: 7,990.00
details: Leather monk shoes. Two metal buckles. Leather insole. Semi-pointed toe. Classic design. Matching sole.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2403/220/800/2/w/448/2403220800_2_1_1.jpg?ts=1686234638400

Product Name: SMART LEATHER SHOES
Price: 6,990.00
details: Oxford shoes. Plain upper with topstitching detail on the vamp and toecap. Five-eyelet facing. Classic style. Round toe.
Product Image: https://static.zara.net/photos///2023/I/1/1/p/2407/220/800/32/w/489/2407220800_1_1_1.jpg?ts=1692874273545

Product Name: LEATHER SQUARE TOE ANKLE BOOTS
Price: 9,590.00
details: Leather Chelsea boots. Elastic side gores for slipping on with ease. Square toe. Back pull tab for slipping on with ease. Thin sole.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2010/220/800/2/w/448/2010220800_1_1_1.jpg?ts=1689577314802

Product Name: CHELSEA BOOTS
Price: 4,590.00
details: Monochrome Chelsea boots. Two elastic side gores and pull tab at the back for slipping on with ease. Rounded toe. Welt with matching topstitching. Slightly chunky sole.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2000/220/800/2/w/448/2000220800_6_1_1.jpg?ts=1691592336024

Product Name: CHELSEA BOOTS WITH POINTED TOES
Price: 4,990.00
details: Monochrome Chelsea boots. Two elastic side gores and pull tab at the back for slipping on with ease. Pointed toe. Welt with matching topstitching. Slightly chunky sole.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2009/221/709/2/w/448/2009221709_6_1_1.jpg?ts=1692630744180

Product Name: CHELSEA BOOTS
Price: 4,990.00
details: Monochrome ankle boots. Matching side gores and back pull tab for slipping on with ease. Pointed toe. Classic style.
Product Image: https://static.zara.net/photos///2023/I/1/2/p/2009/220/800/2/w/448/2009220800_6_1_1.jpg?ts=1691135082187